body{
    margin: 0;
    padding: 0;
    background-image: background: #020024;
background: linear-gradient(337deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
background-size: cover;
height: 100vh;

}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-card{
    width: 300px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 22px;
    box-shadow: 0px 20px 60px rgba(255, 255, 255, 0.416);
    backdrop-filter: blur(7px);

}

h2{
    text-align: center;
    margin-bottom: 20px;

}

.input-box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.12);
    padding: 10px;
    border-radius: 6px;

}

.icon{
    margin-right: 10px;
}
